<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/loginPage.css}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/auth/login}">Войти</a></li>
            <li><a th:href="@{/auth/registration}">Регистрация</a></li>
        </ul>
    </div>
</nav>

<div class="login-container">
    <form action="/auth/process_login" method="post">
        <label for="username">Введите имя пользователя</label>
        <input type="text" name="username" id="username" />
        <br/>
        <label for="password">Введите пароль</label>
        <input type="password" name="password" id="password"/>
        <br/>
        <input type="submit" value="Login" />

        <div th:if="${param.error}" style="color: red">
            Неправильное имя или пароль
        </div>
    </form>
</div>
</body>
</html>
